.carousel {
    position: relative;
    width: 100%;
    max-width: 800px; 
    margin: 40px auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .fallback-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    height: 100%;
    width: 5rem;
    transition: 0.5s ease-in-out;
  }
  
  .prev-btn {
    left: 0px;
  }
  
  .next-btn {
    right: 0px;
  }
  .next-btn:hover, .prev-btn:hover{
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */;
  }
  .indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dot.active {
    background-color: #333;
  }
  